.container{
    background-color:#F2F2F2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerContainer{

    background-color:#FFF;
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.innerContainer{
width: 50%;
height: 75vh;
/* background-color: aqua; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 
}

.heading{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: Poppins;
}

.options{
    width: 55%;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    font-size: 1.5rem;
    font-family: "Poppins";
    font-weight: 600;
}
.field{
    width: 80%;
    height: 35vh;
    margin-top: 7vh;
    /* text-align: end; */
    font-family: "Poppins";
    font-weight: 600;
}

.card{
    margin-top: 2%;
    display: flex;
    justify-content: end;
    height: 20%;
    text-align: end;
}
.card label{
    margin-right: 5%;
    padding-top: 1%;
}
.card input{
    width: 60%;
    height: 5vh;
    
}

.card input[type="text"] {
    padding: 2px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-radius: 13px 13px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn{
    margin-top: 5%;
    width: 50%;
}

.signUp{
    width: 100%;
    height: 5vh;
    background-color: #A9BCFF;
    color: #474444;
    font-size: 1.2rem;
    font-family: "Poppins";
    font-weight: 600;
    border-radius: 15px;
    border:none;
}

.cnfemail1{
    display: block;
}
.cnfemail2{
    display: none;
}



@media screen and (min-width:677px) and (max-width:1024px) {
    .options{
        width: 90%;
    }
    .innerContainer{
        width: 100%;
    }
    .btn{
        width: 90%;
    }
    .cnfemail1{
        display: none;
    }
    .cnfemail2{
        display: block;
    }
}

@media screen and (max-width:676px){
    .options{
        width: 90%;
    }
    .innerContainer{
        width: 100%;
    }
    .btn{
        width: 90%;
    }
    .cnfemail1{
        display: none;
    }
    .cnfemail2{
        display: block;
    }
}