.container{
    position: fixed;
    width: 60%;
    height: 55vh;
    background-color: #fff;
    top: 30%;
    left: 20%;
    font-family: Poppins;
}

.outer{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 80%;
    height: 75%;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.quizname, .quiztype, .lastcontainer{
    width: 100%;
    height: 20%;
}
.input{
    width: 100%;
    height: 100%;

}
.input::placeholder{
    padding-left: 2%;
    font-size: 1.3rem;
    color:#9F9F9F;

}
.input{
    padding-left: 2%;
    font-size: 1.3rem;
    border: none;
    box-shadow:     5px 5px 10px rgba(0, 0, 0, 0.1),   /* Bottom-right shadow */
    -5px -5px 10px rgba(0, 0, 0, 0.1), /* Top-left shadow */
    5px -5px 10px rgba(0, 0, 0, 0.1),  /* Top-right shadow */
    -5px 5px 10px rgba(0, 0, 0, 0.1);  /* Bottom-left shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition */
}
.quiztype{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9F9F9F;
}
.label{
    font-size: 1.3rem;
    /* font-weight: 600; */
}
.qna, .polltype{
    width: 30%;
    height: 60%;
    border-radius: 5px;
    color: #9F9F9F;
    border:none;
    
}


.lastcontainer{
    display: flex;
    justify-content: space-between;
}

.cancel, .continue{
    width: 40%;
    height: 70%;
}

.continue{
    background-color: #60B84B;
    color: #fff;
}