

.container{
width: 60%;
height: 70%;
/* background-color: brown; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
/* color: #9F9F9F; */

}

.off, .five, .ten, .head{
    width: 65%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: Poppins;
}

.off button, .five button, .ten button{
    width: 100%;
    border-radius: 7px;
    color: #9F9F9F;
    box-shadow:     5px 5px 10px rgba(0, 0, 0, 0.1),   /* Bottom-right shadow */
    -5px -5px 10px rgba(0, 0, 0, 0.1), /* Top-left shadow */
    5px -5px 10px rgba(0, 0, 0, 0.1),  /* Top-right shadow */
    -5px 5px 10px rgba(0, 0, 0, 0.1);  /* Bottom-left shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition */
}

.head{
    font-weight: 500;
    font-size: 1.3rem;
    color: #9F9F9F;
}

.ten button{
    background-color: #D60000;
    color: #fff;
}