.container{
    position: fixed;
    width: 65%;
    height: 90vh;
    top: 5%;
    left: 20%;
    background-color:#FFFFFF;
    border-radius: 20px;
}

.innercontainer{
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;


}
.dummycontainer{
    width: 90%;
    height: 90%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.row1{
    display: flex;
    justify-content: space-between;
    color: #969696;

}
.tabsection{
    display: flex;
    padding: 0 2px;
    /* justify-content: center;
    align-items: center; */
}

.plus{
    background-color: #fff;
    width: 45px;
    height: 45px;
    font-size: 40px;
    font-weight: 300;
}

.uppercontainer{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.max5{
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.midcontainer{
    width: 95%;
    height: 70%;
}

.lowercontainer{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.questiondiv{
    width: 100%;
    height: 33%;
}
.question{
    width: 100%;
    height: 90%;
}

.options{
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
    color: #9F9F9F;
    font-weight: 500;
}

.lbl{
    width: 50%;
    height: 2vh;
    display: flex;
    align-items: center;
}
.lbl input::radio{
    width: 10px;
}

.options label{
    width: 20%;
}

.cancelbtn, .createbtn{
    width: 40%;
    height: 100%;
    font-size: 1.1rem;
}

.createbtn{
    background-color: #60B84B;
    color: #fff;
}